<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Welcome new user <%= @user.email %></h1>
    <p>Click  here to activate your account!</p>
    <p><%= link_to "Activate User",
    activate_user_url(@user.id, token: @user.activation_token ) %></p>
  </body>




</html>