<% source = params[:controller] %>

<h1><%= source == "users" ? "Sign Up Form" : "Sign In Form"%></h1>

  <form action="<%= source == "users" ? users_url : sessions_url %>" method="post">

    <%= render "shared/form_authenticity_token" %>

    <label> Login Email
      <input type="text" name="user[email]">
    </label>

    <label> Password
      <input type="text" name="user[password]">
    </label>

    


  <input type="submit" value="<%= source == "users" ? "Sign Up" : "Sign In"  %>">